
<div class="play-lst-contain">
  <h3 mat-dialog-title>Playlist</h3>
  <mat-dialog-content class="mat-typography">
    <div class="playlist-section">
      @for (playlist of playlist; track playlist.id) {
        <div class="playlist-card">
          <div class="playlist-card-img">
            <img [src]="playlist.image_url" alt="">
          </div>
          <div class="sub-ctn">
            <div class="playlist-card-info">
              <span class="name-playlist">{{playlist.name}}</span>
              <p class="content-playlist">{{playlist.description}}</p>
            </div>
            @if (!isSongInPlaylist(playlist)){
              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="addSongToPlaylist(playlist.id)" >
                <mat-icon>add</mat-icon>
              </button>
            } @else {
              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" >
                <mat-icon>check</mat-icon>
              </button>


            }
          </div>
        </div>
      }

    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
  </mat-dialog-actions>
</div>



