<div class="container-playlist">
  <form [formGroup]="form" (ngSubmit)="savePlaylist()">
    <h2>Edit Playlist</h2>
    <div class="dialog-playlist">
      <div class="left-dialog">
        <label for="fileInput" class="upload-label">
          <div id="uploadDiv">
            @if (!imgPath && !form.get('image_url')?.value) {
              <span class="material-symbols-outlined">add_photo_alternate</span>
            } @else {
              <img [src]="imgPath || form.get('image_url')?.value" alt="Uploaded Image" class="preview-img">
            }
          </div>
        </label>
        <input type="file" id="fileInput" accept="image/*" (change)="uploadImg($event)">
      </div>

      <div class="right-dialog">
        <mat-form-field appearance="outline" class="full-width" subscriptSizing="dynamic">
          <mat-label>Your Playlist Name</mat-label>
          <input formControlName="name" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always" subscriptSizing="dynamic">
          <mat-label>Your Playlist Description</mat-label>
          <textarea formControlName="description" matInput rows="10"></textarea>
        </mat-form-field>
      </div>
    </div>

    <mat-dialog-actions class="dialog-actions" align="end">
      <button mat-flat-button mat-dialog-close class="flat-button">Cancel</button>
      <button mat-flat-button color="primary" class="commit" type="submit" [disabled]="form.invalid">
        Update
      </button>
    </mat-dialog-actions>
  </form>
</div>
