app-dialog-login {
  border-radius: 16px;
  overflow: hidden;
  display: block;
}
.main {
  padding: 24px;
}

.container {
  width: 100%;
  background-color: var(--surface);
  //border-radius: 10px;
  //overflow: hidden;
}

.header {
  background: linear-gradient(to bottom, #005ec2, #00021f);
  width: 100%;
  height: 170px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 16px;
  user-select: none;
  pointer-events: none;
}

.avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.username {
  font-size: 20px;
  font-weight: bold;
}

.btn-tabs {
  width: 300px;
  height: 50px;
  border-radius: 20px;
  margin: 10px;
}

.mat-tab-group {
  border-radius: 20px;
}
.btn-tabs-group {
  height: 100%;
}

::ng-deep .mat-mdc-tab-body-wrapper {
  height: 100% !important;
}

::ng-deep .mat-mdc-tab-header {
  border-bottom: none;
  width: fit-content;
  user-select: none;
}
