.card {
  width: 166px; /* Tự co giãn theo grid */
  user-select: none;
  color: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;

  .card-img {
    cursor: pointer;
    transition: 200ms;
    img {
      border-radius: 10%;
      overflow: hidden;
      width: 100%; /* Ảnh chiếm toàn bộ chiều ngang thẻ con */
      aspect-ratio: 1 / 1; /* Đảm bảo ảnh luôn vuông */
      object-fit: cover; /* Đảm bảo ảnh không méo */
    }
    &:hover {
      scale: 1.1;
    }
  }
  .card-title {
    font-size: 15px;
  }
}
