@if((isLoadingDetail$ | async)){
  <div class="container-loading">
    <app-loading></app-loading>

  </div>

} @else {
  <div id="category-detail">
    <div class="container-left">
      <div class="selected-category">
        <img [src]=categoryDetail!.image_url alt="">
      </div>
      <h2>{{categoryDetail!.name}}</h2>
    </div>
    <div class="container-right">
      <div class="list_music">
        @for (music of songListsCategory; track music.id) {
          @if (likeList.includes(music.id)){

            <app-music-tab
              [song]="music"
              [isLike]="likeList.includes(music.id)"

            ></app-music-tab>
          } @else {
            <app-music-tab
              [song]="music"

            ></app-music-tab>
          }
        }
      </div>
    </div>
  </div>

}
