    <div class="ns-card" [ngStyle]="{'background-color': isPlayingQueue() ? 'var(--onSecondaryFixed)' : ''}">
        <div class="ns-img-contain">
            <div class="play-btn">
                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="playSong()">
                    <mat-icon>{{isPlayingSong() ? 'pause' : 'play_arrow'}}</mat-icon>
                </button>
            </div>
            <img [src]="song?.image_url" alt="music-cover">
        </div>
        <div class="ns-info">
            <span class="name-ns" [routerLink]="['/detail',song?.id]" (click)="removeCmt()">{{song?.title}}</span>
            <p class="content-ns">{{song?.performer}}</p>
        </div>
        <div class="ns-time">
            <span>{{ formatTime(song?.duration ?? 0)}}</span>
        </div>
      <div class="opt-btn">
<!--      @if (this.isLoadingLike$ |async) {-->
<!--        <mat-spinner></mat-spinner>-->
<!--      } @else {-->
     <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="likeSong(song?.id ?? '')">
          <mat-icon>{{ isLike ? 'favorite' : 'favorite_border'}}</mat-icon>
        </button>
<!--      }-->
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="clickOpenOverLay()">
                <mat-icon>playlist_add</mat-icon>
            </button>
          @if (this.isQueue) {
              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="removeQueueSong()">
                  <mat-icon>delete</mat-icon>
              </button>
          } @else {
              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="addQueueSong()">
                  <mat-icon>library_add</mat-icon>
              </button>
          }
        </div>
    </div>

    <div class="overlay-bkg" (click)="clickCloseOverLay()" [ngStyle]="isOverlayOpen ? {'display': 'flex'} : {'display': 'none'}">
        <div class="play-lst-contain" (click)="$event.stopPropagation()">
            <div class="title-ctn">
                <h3>Playlist</h3>
                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="clickCloseOverLay()" >
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="playlist-section">
                @for (playlist of playlist; track playlist.id) {
                    <div class="playlist-card">
                        <div class="playlist-card-img">
                            <img [src]="playlist.image_url" alt="">
                        </div>
                        <div class="sub-ctn">
                            <div class="playlist-card-info">
                                <span class="name-playlist">{{playlist.name}}</span>
                                <p class="content-playlist">{{playlist.description}}</p>
                            </div>
                            <div class="check-box-ctn">
                                <mat-checkbox ></mat-checkbox>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
