.like-container {
  background-color: var(--background);
  color: var(--onSurface);
  margin: 25px 0 0 0;


}

.list-music {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
