.music-player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--surface);
  padding: 8px 15px 8px 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  color: white;
  //position: absolute;
  //bottom: 0;
  //z-index: 1;
  box-sizing: border-box;
}

/* Song Info */
.song-info {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px
}

.song-thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}

.song-title {
  color: #fff;
  font-size: 16px;
  padding: 0;
  margin: 5px 0 0 0;
}


.play-controls{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  margin: 4px 0 0 0;
}

/* Controls */
.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

button.mat-icon-button {
  color: #fff;
  transition: 0.3s;
}

button.mat-icon-button:hover {
  color: #1db954;
}

//.icon-controls{
//  width: 10px;
//  height: 10px;
//  font-size: 5px;
//}

.play-btn {
  background-color: #A0CAFD ;
  color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}

.play-btn mat-icon {
  font-size: 24px; /* Nút Play/Pause có thể to hơn chút */
}

/* Progress Bar */
.progress-container {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 80%;
}

.progress-bar {
  width: 100%;
  height: 4px;
  appearance: none;
  background: #555;
  border-radius: 5px;
}

.progress-bar::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background: #A0CAFD;
  border-radius: 50%;
  cursor: pointer;
}

/* Volume & Playlist */
.extra-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.volume-bar {
  width: 70px;
  height: 4px;
  appearance: none;
  background: #555;
  border-radius: 5px;
}

.volume-bar::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background: #A0CAFD;
  border-radius: 50%;
  cursor: pointer;
}

.line {
  height: 25px;
  width: 2px;
  background-color: var(--onSurface);
  margin: 0 15px;
}

#next-song-section {
  display: none;
  padding: 10px 30px;
  width: 70vh;
  height: 50%;
  background-color: var(--surface);
  position: absolute;
  bottom: 14%;
  right: 25px;
  z-index: 100;
  border-radius: 24px;
  border: 2px var(--surfaceContainer) solid;
  h3 {
    color: var(--onSurface);
    font-weight: 900;
    height: 10%;
    margin-bottom: 3%;
  }
  .next-song-list {
    height: 87%;
    width: 100%;
    color: var(--onSurface);
    display: flex;
    flex-flow: column;
    gap: 20px;
    overflow-y: scroll;
  }
  .next-song-list::-webkit-scrollbar{
    display: none
  }
}
