.music-player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--surface);
  padding: 8px 15px 8px 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  color: white;
  //position: absolute;
  //bottom: 0;
  //z-index: 1;
  box-sizing: border-box;
  user-select: none;
}

/* Song Info */
.song-info {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.song-thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}
.text {
  height: 100%;
  display: flex;
  //align-items: center;
  gap: 2px;
  overflow: hidden;
  //min-width: 5vw;
  flex-direction: column;
  //justify-content: center;
}
.song-title {
  color: #fff;
  font-size: 16px;
  max-width: 330px; /* Set a maximum width */
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.song-composer{
  color: var(--onSurfaceVariant);
  font-size: 12px;
  max-width: 330px; /* Set a maximum width */
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}


.play-controls{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  margin: 4px 0 0 0;
}

/* Controls */
.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

button.mat-icon-button {
  color: #fff;
  transition: 0.3s;
}

button.mat-icon-button:hover {
  color: #1db954;
}

//.icon-controls{
//  width: 10px;
//  height: 10px;
//  font-size: 5px;
//}

.play-btn {
  background-color: var(--primaryFixedDim) ;
  color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}

.play-btn mat-icon {
  font-size: 24px; /* Nút Play/Pause có thể to hơn chút */
}

/* Progress Bar */
.progress-container {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 80%;
}

.progress-bar {
  width: 100%;
  height: 4px;
  appearance: none;
  //background: #555;
  background: linear-gradient(to right, var(--primaryFixedDim) var(--progress, 0%), #555 var(--progress, 0%));
  border-radius: 5px;
  position: relative;
  transition: background 0.1s linear;
  cursor: pointer;

}

.progress-bar::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background: var(--primaryFixedDim);
  border-radius: 50%;
  cursor: pointer;
}

//.progress-bar::before {
//  content: "";
//  position: absolute;
//  top: 0;
//  left: 0;
//  height: 100%;
//  width: var(--progress, 0%); /* Giá trị sẽ thay đổi */
//  background: #A0CAFD;
//  transition:  width 0.2s ease-in-out;;
//}

/* Volume & Playlist */
.extra-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.volume-bar {
  width: 70px;
  height: 4px;
  appearance: none;
  background: linear-gradient(to right, var(--primaryFixedDim) var(--volume, 0%), #555 var(--volume, 0%));
  transition: background 0.1s ease-in-out;
  border-radius: 5px;
  position: relative;
}


.volume-bar::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background: var(--primaryFixedDim);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 2;
}


.line {
  height: 25px;
  width: 2px;
  background-color: var(--onSurface);
  margin: 0 15px;
}

#next-song-section {
  display: none;
  padding: 30px 30px;
  width: 70vh;
  height: 50%;
  background-color: var(--surface);
  position: absolute;
  bottom: 14%;
  right: 25px;
  z-index: 100;
  border-radius: 24px;
  border: 2px var(--surfaceContainer) solid;
  h6 {
    color: var(--onSurface);
    font-weight: 900;
    height: 10%;
    margin-bottom: 3%;
  }
  .next-song-list {
    height: 87%;
    width: 100%;
    color: var(--onSurface);
    display: flex;
    flex-flow: column;
    gap: 20px;
    overflow-y: scroll;
  }
  .next-song-list::-webkit-scrollbar{
    display: none
  }
}
#vol-mute-contain {
  display: none;
}

.loop-btn {
  position: relative;
  span {
    position: absolute;
    font-size: 10px;
    font-weight: 700;
    top: 14.5px;
    right: 17.5px;
    color: var(--primaryFixedDim);
  }

}
