<div class="music-player">
  <!-- Song Info -->
  <div class="song-info" [routerLink]="['/detail', currentSong?.id]" *ngIf="currentSong?.id;  else noLink">
    <img src="{{ currentSong?.image_url}}" alt="Song Thumbnail" class="song-thumbnail" />
    <div class="text">
      <p class="song-title"  >{{ currentSong?.title}}</p>
      <p class="song-composer">{{ currentSong?.composer}}</p>
    </div>
  </div>
    <ng-template #noLink>
        <div class="song-info">
            <img src="{{'https://avatar.iran.liara.run/public/48' }}" alt="Song Thumbnail" class="song-thumbnail" />
            <div class="text">
                <p class="song-title"  >{{'No Song Playing'}}</p>
                <p class="song-composer">{{'Unknown Artist'}}</p>
            </div>
        </div>
    </ng-template>


  <div class="play-controls">

    <!-- Controls -->
    <div class="controls">
      <button  mat-icon-button><mat-icon class="material-symbols-rounded">shuffle</mat-icon></button>
      <button mat-icon-button (click)="rewind()">
        <mat-icon class="material-symbols-rounded">skip_previous</mat-icon>
      </button>
      <button mat-icon-button class="play-btn" (click)="togglePlayPause()">
        <mat-icon class="material-symbols-rounded">{{ isPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
      </button>
      <button mat-icon-button (click)="forward()">
        <mat-icon class="material-symbols-rounded">skip_next</mat-icon>
      </button>
      <button mat-icon-button (click)="loopClick()" class="loop-btn">
          <mat-icon class="material-symbols-rounded" [ngStyle]="{'color': isLoop ? 'var(--primaryFixedDim)' : 'var(--onSurface)'}">
              repeat
          </mat-icon>
          <span>
              @if (isLoop) {
                  1
              }
          </span>
      </button>
    </div>

    <!-- Progress Bar -->
    <div class="progress-container">
      <span class="time">{{ formatTime(currentTime) }}</span>
      <input type="range" class="progress-bar" min="0" [max]="duration" [value]="currentTime" (input)="seekAudio($event)">
      <span class="time">{{ formatTime(duration) }}</span>
    </div>

  </div>



  <!-- Volume & Playlist -->
  <div class="extra-controls">
    <button mat-icon-button id="vol-mute-contain" (click)="clickUnmute()"><mat-icon class="material-symbols-rounded">volume_off</mat-icon></button>
      <button mat-icon-button id="vol-unmute-contain" (click)="clickMute()"><mat-icon class="material-symbols-rounded">volume_up</mat-icon></button>
    <input type="range" class="volume-bar" min="0" max="100" [value]="volume" (input)="changeVolume($event)">
    <div class="line"></div>
    <button mat-icon-button (click)="overlaySongList()"><mat-icon class="material-symbols-rounded" >queue_music</mat-icon></button>
  </div>
</div>

<!-- Hidden Audio Element -->
<audio #audioPlayer crossorigin="anonymous"></audio>

<!-- Next song -->
<div id="next-song-section">
    <h6>Next Song</h6>
    <div class="next-song-list">
        @for (music of songListsQueue; track $index) {
            <app-music-tab
                    [song]="music"
                    [isQueue]="true"

            ></app-music-tab>
        }
    </div>
</div>
