@if((isPlaylistDetailLoading$| async)){
    <app-loading></app-loading>
}@else {
  <div id="playlist-detail">
    <div class="container-left">
      <div class="selected-playlist">
        <img  *ngIf="playlistDetail.image_url" [src]="playlistDetail.image_url" alt="" loading="lazy">
      </div>
      <p class="playlist-name"  *ngIf=" playlistDetail.name"  >{{playlistDetail.name}}</p>
      <p class="num-of-track" *ngIf=" playlistDetail.songs_id.length >= 0 " >{{playlistDetail.songs_id.length}} track</p>
      <div class="function">
        <div class="media">
          <button mat-icon-button (click)="editDialogPlaylist()" >
            <mat-icon class="material-symbols-outlined" >border_color</mat-icon>
          </button>

          <button mat-icon-button (click)="openDialogDeletePlaylist()" >
            <mat-icon class="material-symbols-outlined">delete</mat-icon>
          </button>

        </div>

        <div class="action-song">
          <button class="btn-play" mat-icon-button (click)="playSongInPlaylist()" >
            <mat-icon class="material-symbols-outlined" >play_arrow</mat-icon>
          </button>

          <button class="btn-random" mat-icon-button (click)="playSongInPlaylistRandom()" >
            <mat-icon class="material-symbols-outlined">shuffle</mat-icon>
          </button>
        </div>
      </div>

    </div>
    <div class="container-right">
      <div class="list_music">
        @for (song of this.songPlaylist; track song.id){
          <app-music-tab
          [song]="song"
          >
          </app-music-tab>
        }
      </div>
    </div>
  </div>

}
