#category {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0px 25px; /* Khoảng cách giữa các thẻ con ngang & dọc */
  justify-content: start; /* Canh lề trái khi xuống hàng */
  box-sizing: border-box;
  background-color: var(--surface);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  app-category-card {
    height: fit-content;
  }
}

.container {
  color: var(--onSurface);
  padding: 24px;
  background-color: var(--surface);

  h2 {
    font-size: 24px;
    font-weight: bold;
    height: fit-content;
  }
}
