<div class="container-upload">
  @if (authData){


  <!--  upload nhạc-->
  <mat-stepper headerPosition="top" #stepper linear>
    <mat-step [stepControl]="fileUploadForm.controls['audioFile']" [completed]="fileUploadForm.valid">
      <form [formGroup]="fileUploadForm" class="form-upload">
        <ng-template matStepLabel>Upload track file</ng-template>

      <div class="all-main">
        <div class="infor-file">
            <h5>Upload your audio files </h5>
            <h6>For optimal quality, use MP3, WAV, FLAC, AIFF, or ALAC formats.</h6>
            <h6>The maximum uncompressed file size is 4GB.</h6>
        </div>

        <div class="group-1" (click)="openFileChooser()">

          <div class="upload" *ngIf="!selectedFile">
            <mat-icon class="material-symbols-rounded">cloud_upload</mat-icon>
            <h6>Click to select file</h6>
          </div>

          <!-- Hiển thị file -->
          <div class="upload" *ngIf="selectedFile">
            <div class="uploaded">
              <mat-icon class="material-symbols-rounded">audio_file</mat-icon>
              <h6 class="title-uploaded">{{ selectedFile.name }}</h6>
            </div>

          </div>

        </div>
        <input type="file" #fileInput (change)="onFileSelected($event)" hidden accept=".mp3,.wav,.flac,.aiff,.alac"/>

      </div>

        <div class="btn-upload-1">
          <button mat-flat-button matStepperNext [disabled]="!fileUploadForm.valid">Next</button>
        </div>
      </form>
    </mat-step>


    <!--    track ìnformation-->


    <mat-step [stepControl]="trackInforForm" [completed]="trackInforForm.valid" linear>
      <form [formGroup]="trackInforForm" class="form-upload">
        <ng-template matStepLabel>Track Information</ng-template>

        <div class="group-2">

          <div class="group-3" (click)="openImageChooser()">

            <div class="img-upload" *ngIf="!selectedImage">

              <mat-icon class="material-symbols-rounded">add_photo_alternate</mat-icon>
              <h6>Add new image</h6>

            </div>

            <!-- Hiển thị ảnh bìa sau khi chọn -->
            <div *ngIf="selectedImage">
              <img class="img-select" [src]="selectedImage" alt="Selected Image">
            </div>

          </div>


          <input type="file" #imageInput (change)="onImageSelected($event)" accept="image/*" hidden/>


          <div class="infor-upload">

            <mat-form-field appearance="outline" >
              <mat-label>Song title</mat-label>
              <input matInput formControlName="title" placeholder="Last name, First name" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Artist Name</mat-label>
              <input matInput formControlName="artist" placeholder="Last name, First name" required>
            </mat-form-field>

<!--            <mat-form-field appearance="outline">-->
<!--              <mat-label>Other</mat-label>-->
<!--              <mat-select formControlName="category_id" required>-->

<!--                <mat-option *ngFor="let category of category$ | async" [value]="category.id">-->
<!--                  {{category.name}}-->
<!--                </mat-option>-->

<!--              </mat-select>-->
<!--            </mat-form-field>-->

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Other</mat-label>
              <input type="text"
                     placeholder="Nhập thể loại"
                     aria-label="Other"
                     matInput
                     [formControl]="trackInforForm.controls['category_id']"
                     [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete"
                                (optionSelected)="onCategorySelected($event)">
                <mat-option *ngFor="let category of category$ | async" [value]="category.name" >
                  {{ category.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>



            <mat-form-field appearance="outline">
              <mat-label>Add a description</mat-label>
              <input matInput formControlName="description" placeholder="Last name, First name">
            </mat-form-field>

          </div>

        </div>


        <div class="btn-upload-2">
          <button mat-flat-button matStepperPrevious>Back</button>
          <button mat-flat-button matStepperNext [disabled]="!trackInforForm.valid"  (click)="confirmForm()">confirm</button>
        </div>
      </form>
    </mat-step>

    <mat-step  linear>
      <ng-template matStepLabel>Done</ng-template>

      <app-loading *ngIf="isLoading$ | async"></app-loading>

      <div>
        <div class="success">
          <mat-icon class="img-up-3" aria-hidden="false" aria-label="Example home icon" fontIcon="check"></mat-icon>
          <h6>File Upload Successfull</h6>
        </div>


        <div class="btn-upload-3">
          <!--        <button mat-flat-button matStepperPrevious>Back</button>-->
          <button mat-flat-button (click)="resetForm()">Reset</button>
        </div>
      </div>



    </mat-step>
  </mat-stepper>
  } @else {
    <div class="not-logged-in">
      <img class="avatar-not-loggin" src="{{ 'https://avatar.iran.liara.run/public/48' }}"/>
      <h4>Bạn cần đăng nhập để tải nhạc lên!</h4>
<!--      <button mat-flat-button color="primary" (click)="redirectToLogin()">Đăng nhập ngay</button>-->
    </div>
  }

</div>


