.container-search {
  background-color: var(--surface);
  padding: 24px;
  height: 100%;
}

.btn-tabs-group {
  height: 100%;
}

::ng-deep .mat-mdc-tab-body-wrapper {
  height: 100% !important;

  overflow: auto;
  //border-radius: 16px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
}
::ng-deep .mat-mdc-tab-body-wrapper ::-webkit-scrollbar {
  display: none !important;
}

::ng-deep .mat-mdc-tab-header {
  border-bottom: none;
  width: fit-content;
}
