<div id="playlist">
  <div class="header-playlist">
    <h2>Your playlist</h2>
    <span (click)="openDialogCreatNewList()" class="material-symbols-outlined">
      add_circle
    </span>
  </div>
  <div id="playlist-main">
    <ng-container *ngIf="playlists$ | async as playlists; else noPlaylist">
      <app-playlist-card *ngFor="let playlist of playlists"
                         [playlist]="playlist"

                         (SelectIdEdit)="openEditPlaylist($event)"

      ></app-playlist-card>
    </ng-container>

    <ng-template #noPlaylist>
      <p class="empty-message">No playlists found. Create a new one!</p>
    </ng-template>

  </div>

</div>

