<div id="playlist">
  <div class="header-playlist">
    <h2>Your playlist</h2>
    <span (click)="openDialogCreatNewList()" class="material-symbols-outlined">
      add_circle
    </span>
  </div>
  <div id="playlist-main">
    @for (playlist of playlists; track $index) {
      <app-playlist-card
        [id]="playlist.id"
        [name]="playlist.name"
        [img]="playlist.img"
        [tag]="playlist.tag"
        [comment]="playlist.comment"
        [singer_name]="playlist.singer_name"
        [category]="playlist.category"
      ></app-playlist-card>
    }

  </div>

</div>

