.container-search-peoples{
  background-color: var(--surface);
  padding: 0  24px 24px 24px;
  border-radius: 0 0 16px 16px;
  height: 84.5%;
}
.list-users{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}
.no-results{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
