<div class="container-playlist">
<form [formGroup]="form" >

  <h2 >Create New Playlist</h2>
  <div class="dialog-playlist">
    <div class="left-dialog">
      <label for="fileInput" class="upload-label">
        <div id="uploadDiv">
          <span class="material-symbols-outlined" *ngIf="!imgPath">add_photo_alternate</span>
          <img *ngIf="imgPath" [src]="imgPath" alt="Uploaded Image" class="preview-img">
        </div>
      </label>
      <!-- Input upload ảnh -->
      <input type="file" id="fileInput" accept="image/*" (change)="uploadImg($event)">
    </div>
    <div class="right-dialog">

      <mat-form-field appearance="outline" class="full-width" subscriptSizing="dynamic">
        <mat-label class="mat-label">Your Playlist Name</mat-label>
        <input formControlName="name"  matInput>
      </mat-form-field>


      <mat-form-field appearance="outline" [floatLabel]="'always'" subscriptSizing="dynamic" >
        <mat-label class="mat-label">Your Playlist Description</mat-label >
        <textarea formControlName="description"  matInput rows="10"></textarea>
      </mat-form-field>

    </div>
  </div>

<mat-dialog-actions class="dialog-actions" align="end">

    <button  mat-flat-button mat-dialog-close color="var(--onSecondaryContainer)" class="flat-button">Cancel</button>
    <button (click)="createPlaylist()" [disabled]="form.invalid"  mat-flat-button mat-dialog-close class="commit">Commit</button>
</mat-dialog-actions>


</form>
</div>
