<mat-toolbar  color="primary" class="toolbar">
  <img src="https://fribhpcpiubpvmuhgadg.supabase.co/storage/v1/object/public/songs//logo-melos.png" alt="Melos logo" class="logo-melos" (click)="navigateToHome()"/>
  <div [routerLink]="['/search']" class="outline-search">
      <mat-icon  class="material-symbols-rounded">search</mat-icon>
      <input type="text" placeholder="Search some song" class="search-input" (input)="onValueChange($event)" (keyup.enter)="onEnter($event)" />
  </div>


  @if (authData) {

    <div class="user-login"  aria-label="Example icon-button with share icon">
      <img src="{{ authData.photoURL }}" class="user-profile" (error)="onImageError($event)"  [matMenuTriggerFor]="menu"/>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
      </button>

    </mat-menu>

  } @else {
    <button mat-icon-button class="user-none-login" (click)="openDialog()" aria-label="Example icon-button with share icon">
      <mat-icon class="material-symbols-rounded">person</mat-icon>
    </button>
  }

</mat-toolbar>
