<div class="container-search-songs">
  <div class="Songs">
<!--    <h5 class="title">Song</h5>-->
    <div class="list-music" *ngIf="(searchSongs$ | async)?.length">
      @for (song of (searchSongs$ | async); track song.id) {
        @if (likeList.includes(song.id)){

          <app-music-tab
            [song]="song"
            [isLike]="likeList.includes(song.id)"

          ></app-music-tab>
        } @else {
          <app-music-tab
            [song]="song"

          ></app-music-tab>
      }
      }
    </div>
  </div>

  <div class="no-results" *ngIf="(searchSongs$ | async)?.length === 0">
    <img src="https://fribhpcpiubpvmuhgadg.supabase.co/storage/v1/object/public/songs//search-melos.svg">
    <h6>Search with Melos to discover your favorite songs!</h6>
  </div>

</div>
