.container-search-songs{
  background-color: var(--surface);
  padding: 24px;
  border-radius: 0 0 16px 16px;
}

.list-music{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;


}
