.container-search-songs{
  background-color: var(--surface);
  padding: 0 24px 24px 24px;
  border-radius: 0 0 16px 16px;
  height: 84.5%;
}

.list-music{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}
.no-results{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  user-select: none;
}
